@import "./base/reset";
@import "./utils/vars";
@import "./utils/mixin";
@import "./components/common";
@import "./components/btns";
@import "./utils/visually-hidden";
@import "./components/modal";

@import "./layers/header";
@import "./layers/hat";
@import "./layers/features";
@import "./layers/tasks";
@import "./layers/team";
@import "./layers/clients";
@import "./layers/footer";
@import "./layers/portfolio";
