:root {
  --main-color: #ffffff;
  --second-color: #757575;
  --accent-color: #2196f3;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --logo-color: #000000;
  --main-font-size: 14px;
  --second-font-size: 16px;
  --bold-font-weight: 700;
  --semibold-font-weight: 500;
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
