.features-block {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  margin-bottom: 30px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features-item {
  text-align: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 3) / 4);
  }
}
.features-item-svg {
  background-color: var(--third-background-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.features-item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-subtitle {
  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  text-align: left;
  line-height: 1.71;
  color: var(--second-color);
}
