.tasks {
  position: absolute;
  padding-top: 0;
  visibility: hidden;
  opacity: 0;
  @media screen and (min-width: 1200px) {
    visibility: visible;
    opacity: 1;
    position: static;
  }
}
.tasks__title {
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.tasks__list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.tasks__item {
  width: calc((100% - 60px) / 3);
  position: relative;
  z-index: -1;
}
.tasks__text {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
